<!DOCTYPE html>
<html>
<head>
    <%- include('../../partials/head', {page: 'Error', css: 'error'}) %>
</head>
<header>
</header>
<body class="d-flex flex-column">
    <div id="page-content">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <h1 class="font-weight-light mt-4 text-white">Something went very wrong...</h1>
                    <p class="lead text-white-50">However, we did log it and will be checking it out shortly. In the meantime, we suggest you go <a href="/">home</a>.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
