<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head', {page: 'Sign Up', css: 'alt'}) %>
</head>
<header>
</header>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <% if (locals.error) { %>
                            <div class="alert alert-danger" role="alert">
                                <%= locals.error %>
                            </div>
                        <% } %>
                        <% if (locals.success) { %>
                            <div class="alert alert-success" role="alert">
                                <%= locals.success %>
                            </div>
                        <% } %>
                        <h5 class="card-title text-center">Sign Up</h5>
                        <h6 class="text-center"><a href="/login" class="navLink">Already have an account?</a></h6>
                        <form class="form-signin" method="post" action="signup">
                            <div class="form-label-group">
                                <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                                <label for="inputEmail">Email address</label>
                            </div>

                            <div class="form-label-group">
                                <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                                <label for="inputPassword">Password</label>
                            </div>

                            <div class="form-label-group">
                                <input name="confpassword" type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password" required>
                                <label for="confirmPassword">Confirm Password</label>
                            </div>

                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign up</button>
                            <hr class="my-4">
                            <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit" disabled><i class="fab fa-google mr-2"></i> Sign up with Google</button>
                            <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit" disabled><i class="fab fa-facebook-f mr-2"></i> Sign up with Facebook</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
